header {
    position: relative;
    height: 300px;
    background-image: url(../images/header.jpg) ;
    -webkit-background-size: auto 300px;
    background-size: auto 300px;
}

main {
    height: 500px;
    background: url(../images/main.png) no-repeat ;
    -webkit-background-size: auto;
    background-size: 100%;


}


#main > div {
    width: 50%;
    margin: auto;
    border: 1px solid blue;
}

.nav {
    position: absolute;
    background-color: #fff;
    height: 50px;
    width: 50%;
    -webkit-transform: translate(50%, 250px);
    -moz-transform: translate(50%, 250px);
    -ms-transform: translate(50%, 250px);
    -o-transform: translate(50%, 250px);
    transform: translate(50%, 250px);
    opacity: 0.8;

}

ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav ul li {
    position: relative;
    width: 25%;
    line-height: 50px;
    text-align: center;
    color: blue;
    cursor: pointer;

    background-color: #fff;
}

.nav ul li.on {
    background: linear-gradient(to top, rgba(38, 85, 255, 0.2), white);
}

#card {
    display: flex;
    flex-direction: row;
    height: 27%;
    margin: auto;
    color: white;
    font-weight: bold;

}

#card:nth-child(1) {
    background: rgba(38, 85, 255, 0.2);
}

#card:nth-child(2) {
    background: rgba(38, 85, 255, 0.5);
}

#card:nth-child(3) {
    background: rgba(38, 85, 255, 0.8);
}

.release {
    height: 12%;
    margin: 0 auto;
    background: #dcdcdc;
}

.input {
    color: #fff;
    width: 65%;
    height: 28px;
    padding: 3px 15px;
    margin: 13px 5px 10px 20px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid black;
}

div.release button {
    width: 20%;
    color: blue;
    font-weight: bold;
    letter-spacing: 2px;
    border: 1px solid blue;
    height: 35px;
    padding: 8px 35px;
    margin: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.rank-body {
    margin: 10px 50px;
}

.rank {
    display: flex;
    flex-direction: row;
    height: 27%;
}

.rank:nth-child(even) {
    flex-direction: row-reverse;
}

.rank div img {
    flex: 1;
    margin: 0 10px;
    align-items: center;
}

.rank div p {
    border: 1px solid black;
    background: #CCFFFF;
    flex: 6;
    line-height: 45px;
    padding: 5px 80px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.portrait {
    width: 20%;
    height: inherit;
}

.portrait img {
    margin: 30px auto 30px 30px;
}

.content {
    width: 55%;
    height: inherit;
    margin: 30px 0;
    color: white;
    font-weight: bold;
}

.content span {
    margin: 50px 0;
}

.time {
    width: 25%;
    line-height: 137px;
}

.content img {
    width: 20px;
    height: 30px;
}

.hide {
    display: none;
}

#main > div:nth-child(3) >div {
    display: flex;
    flex-direction:column;
}

.user-info {
    display: flex;
    flex:1;
    background: rgba(58, 209, 255, 0.7);
    flex-direction:column;
    align-items: center;
    align-content: center;
}

.user-info > div:first-child{
    margin:10px 0;
}

.user-info > div:nth-child(2) span{
    margin:0 20px;
}

.user-info >div:nth-child(4){
    display: inline-flex;
    align-items: center;
}

.user-info >div:nth-child(4) span:nth-child(even){
    padding:10px;
    margin-right:10px;
    border-right:2px solid ;
}

.user-info button{
    align-self:flex-end;
    margin:0 20px 10px auto;
    padding:3px 20px;
    color:white;
    background-color: #138cdd;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;;
}

.user-info div p {
    border: 1px solid brown ;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;;
    padding:8px 25px;
}

.run-info{
    display: flex;
    flex:1;
    background: rgba(204, 255, 255, 0.7);
}

.run-info >div{
    padding:20px;
    flex:1;
    font-size:14px;
}

.run-info > div:first-child{
    border-right:1px solid;
}

.run-info >div >div:first-child{
    font-weight:bold;
    font-size:16px;
}

.underline{
    text-decoration: underline;
    text-align: right;
    float:right;
}





